{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Combine the Two {% endblock %}</h1>
    
    <form action="{{ url_for('combined') }}" method = "POST">
        <!-- For FizzBuzz -->
        <p><strong>Enter the divisors: </strong></p>
        <label for="first">First divisor:</label>
        <input type="number" id="first" name="first" value=3 placeholder="3"><br><br>
        <label for="second">Second divisor:</label>
        <input type="number" id="second" name="second" value=5 placeholder ="5"><br><br>

        <p><strong>Enter substitute phrases for fizz and buzz: </strong></p>
        <label for="phrase1">First phrase:</label>
        <input type="text" id="phrase1" name="phrase1" value="Fizz" placeholder ="Fizz"><br><br>
        <label for="phrase2">Second phrase:</label>
        <input type="text" id="phrase2" name="phrase2" value="Buzz" placeholder ="Buzz"><br><br>
        <!-- For Fibonacci -->
        <h2>For F(x) = F(x-y) + F(x-z):</h2>
        <label for="x">Enter x:</label>
        <input type="number" id="x" name="x"><br><br>
        <label for="y">Enter y:</label>
        <input type="number" id="y" name="y" value=1 placeholder="1"><br><br>
        <label for="z">Enter z:</label>
        <input type="number" id="z" name="z" value=2 placeholder="2"><br><br>

        <input type="submit" value="Submit">
    </form>
    <h3>F({{ finput }}): {{ result }} </h3>
    
{% endblock %}